<div class="col-xs-3" ng-controller="FirstCtrl as ctrl">
    <h3>First Controller</h3>
    <ul>
        <li data-ng-repeat="message in ctrl.getMessages() track by $index">
            {{message}}
        </li>
    </ul>

    <form ng-submit="ctrl.addMessage()">
        <input class="form-control"
               placeholder="Press enter to submit"
               type="text" ng-model="ctrl.message"/>
    </form>
</div>

<div class="col-xs-3" ng-controller="SecondCtrl as ctrl">
    <h3>Second Controller</h3>
    
    <ul>
        <li data-ng-repeat="message in ctrl.getMessages() track by $index">
            {{message}}
        </li>
    </ul>

    <form ng-submit="ctrl.addMessage()">
        <input class="form-control"
               placeholder="Press enter to submit"
               type="text" ng-model="ctrl.message"/>
    </form>
</div>